@use "../styles/foundation/basics" as basics;
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #0000; /* Dark background color */
}

.loading-spinner {
  width: 80px;
  height: 80px;
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid basics.$secondary-color; /* Accent color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-inner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: basics.$secondary-color; /* Accent color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
